header {
	
}
header a {
	padding: 5px;
}
footer {
	padding: 20px 0;
}
dl {
	margin: 0;
	padding: 20px;
}
dl:nth-child(2n+1) {
	background: #eee;
}
dt {
	padding-bottom: 10px;
}
dd a {
	padding: 5px;
}
#nav {
	display: table;
	margin: 0 auto;
}
#nav dl {
	display: inline-block;
	padding: 0;
	cursor: pointer;
	background: inherit;
}
#nav dl:hover{
	background: #fff;
	color: #333;
}
#nav dl:hover dd{
	display: block;
}
#nav dt {
	padding: 10px;
	font-size: 1em;
}
#nav dd {
	display: none;
	position: absolute;
	top: 36px;
	max-width: 400px;
	padding: 10px;
	margin: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	z-index: 10;
}
#nav dd a{
	color: #333;
}

/*.frame */
.accordion {
	/*border: 1px solid #EEEEEE;*/
}
.accordion.horizontal::after {
	clear: both;
	content: " ";
}
#scrollbar_vertical{
	position: fixed;
	top: 36px;
	bottom: 56px;
}
.frame {
	text-align: left;
	padding: 20px 30px;
	z-index: 2;
	min-height: 100%;
	width: 50%;
	position: absolute;
}
.frame:nth-child(n+2){
	border-left:#bbb solid 1px;
}
.frame.snow-me{
	border-color:#33cc88;
}
.frame .doc-plus {
	font-size: 14px;
}
.frame .doc-add{
	padding: 10px 20px 20px;
}
.frame .mask {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: .2;
	z-index: 2;
}
.frame.snow-me .mask{
	background: #33cc88;
}
.frame.active .mask {
	display: none;
}
div.doc {
	width: 100%;
	background: #fff;
	border: 1px dashed #fff;
	border-bottom-color: #eee;
}
div.doc.ui-draggable-dragging{
	width:556px;
	z-index: 1000;
}
div.doc .doc-handle {
	position: absolute;
	left: 30px;
	margin-top:-2px;
	right: 0;
	height:30px;
	width:30px;
	z-index: 1;
	display: none;
	cursor:move;
	border-top: 30px solid #eee;
	border-right: 30px solid transparent;
}
div.doc .doc-handle:hover {
	border-top: 30px solid #999;
}
div.doc .doc-handle:before{
	display: block;
	content: "\f00c";
	color: #ffffff;
	font-family: 'FontAwesome';
	font-size: 9pt;
	font-weight: normal;
	z-index: 2;
	margin: -26px 0 0 4px;
}
div.doc .doc-tools {
	position: absolute;
	right: 30px;
	z-index: 1;
	display: none;
}
div.doc:hover {
	border:1px dashed #eee;
}
div.doc:hover .doc-handle,
div.doc:hover .doc-remark,
div.doc:hover .doc-tools,
div.doc:hover .doc-plus {
	display: inline-block;
}
div.doc .doc-info {
	padding: 20px 20px 0 20px;
	position: relative;
}
div.doc.active {
	border-color: #33cc88;
}
div.doc.active  .doc-handle{
	display: block;
	border-top-color: #33cc88;
}
div.doc footer {
	padding: 0 10px;
	font-size: .8em;
	color: #ccc;
	height: 20px;
	position: relative;
}
div.doc footer .doc-plus {
	display: none;
}
div.doc footer .doc-tools{
	right:5px;
}
div.doc h1 {
	font-size: 1.4em !important;
}
div.doc h2 {
	font-size: 1.3em !important;
}
div.doc h3 {
	font-size: 1.2em !important;
}
div.doc h4 {
	font-size: 1.1em !important;
}
div.doc h5,
div.doc h6 {
	font-size: 1em !important;
}
div.doc h1,
div.doc h2,
div.doc h3,
div.doc h4,
div.doc h5,
div.doc h6 {
	/*font-weight: 400 !important;*/
	font-weight: bold;
	line-height: initial;
	margin: 0 0 .8em;
	color: #555 !important;
}
div.doc .doc-content {
	margin: 0 0 .5em;
	color: #444 !important;
}
div.doc .doc-content ul li{
	list-style: initial;
	color: #444;
}
div.doc .doc-children{
	position: absolute;
	width:38px;
	right: 0;
	top:50%;
	opacity: .1;
	z-index: 10;
	text-align: center;
	cursor: pointer;
	color:#000;
	height: 35px;
	overflow: hidden;
}
div.doc .doc-children i{
	font-size: 4em;
	margin-top: -12px;
}
div.doc .doc-children:hover{
	opacity: .4;
}
div.doc .doc-remark {
	padding-right: .5em;
	display: none;
} 
div.doc .tools {
	margin-left: 10px;
}
div.doc .tools.del,
div.doc .tools.edit {
	font-size: 12px;
	margin: 5px 5px 0 5px;
}
div.doc .tools i {
	font-size: 10px;
}
.frame .user-input {
	padding: 20px 10px;
	margin: 20px 0;
	background: #999;
}
.frame .user-input .textarea {
	margin: 0;
}
.frame .user-input.editing {
	
} 
.frame .user-input textarea {
	height: 10em;
	width: 530px !important;
	min-height: 2em !important;
	resize: none;
	overflow: hidden;
}
.frame .user-input.editing textarea {
	margin-bottom: 10px;
	resize: none;
	overflow: auto;
}
.frame .user-input .form-actions {
	display: none;
}
.frame .user-input.editing .form-actions {
	display: block;
}
